html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  width: 100%;
}

.menubar {
  background-color: #eee;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

button {
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  padding: 8px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  // border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
}
button:hover {
  transition: all 60ms ease;
  opacity: .85;
}
button:active {
  transition: all 60ms ease;
  opacity: .75;
}
button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

button.-regular {
  color: #202129;
  background-color: #edeeee;
}
button.-regular:hover {
  color: #202129;
  background-color: #e1e2e2;
  opacity: 1;
}
button.-regular:active {
  background-color: #d5d6d6;
  opacity: 1;
}

button.-gray {
  color: #202129;
  background-color: #e1e2e2;
  opacity: 1;
}
button.-gray:hover {
  color: #202129;
  background-color: #d5d6d6;
  opacity: 1;
}

button.-gold {
  color: #f4f7f7;
  background: #D5A928;
}

button.-purple {
  color: #f4f7f7;
  background: #652C90;
}

.float-right {
  float: right;
  margin-right: 10px;
}

.toggle-group button:first-child{
  margin-right: 0;
}
.toggle-group button{
  float: left;
  margin-left: 0;
}

.container {
  position: relative;
  height: 100%;
}

.inner-container {
  text-align: center;
  position: absolute;
  padding-top: 74px;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: stretch;
}

.vis {
  width: 100%;
}